doc/*
!doc/README.md
data/*
data/analysis/*
!data/analysis/
!data/**/README.md
venv/*
requirements.txt
data_old
data_old/*
.idea/*

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
venv/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
Lib/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject
### VirtualEnv template
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

.idea/

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
*.csv
src/AugDev.py
src/BotometerTesting.py
*.pk
src/SpamTweetDataSampler.py
src/Testing.py
src/Testing2.py
src/TestingMethods.py
src/TkinterLabeling.py
src/TSMITest.py
src/twitter_spam_csv_parser.py
styles/KellyCriterion.ui
styles/KellyDesign.ui
venv1/share/doc/networkx-2.6.3/examples/3d_drawing/mayavi2_spring.py
venv1/share/doc/networkx-2.6.3/examples/3d_drawing/plot_basic.py
venv1/share/doc/networkx-2.6.3/examples/3d_drawing/README.txt
venv1/share/doc/networkx-2.6.3/examples/algorithms/hartford_drug.edgelist
venv1/share/doc/networkx-2.6.3/examples/algorithms/plot_beam_search.py
venv1/share/doc/networkx-2.6.3/examples/algorithms/plot_betweenness_centrality.py
venv1/share/doc/networkx-2.6.3/examples/algorithms/plot_blockmodel.py
venv1/share/doc/networkx-2.6.3/examples/algorithms/plot_circuits.py
venv1/share/doc/networkx-2.6.3/examples/algorithms/plot_davis_club.py
venv1/share/doc/networkx-2.6.3/examples/algorithms/plot_dedensification.py
venv1/share/doc/networkx-2.6.3/examples/algorithms/plot_iterated_dynamical_systems.py
venv1/share/doc/networkx-2.6.3/examples/algorithms/plot_krackhardt_centrality.py
venv1/share/doc/networkx-2.6.3/examples/algorithms/plot_parallel_betweenness.py
venv1/share/doc/networkx-2.6.3/examples/algorithms/plot_rcm.py
venv1/share/doc/networkx-2.6.3/examples/algorithms/plot_snap.py
venv1/share/doc/networkx-2.6.3/examples/algorithms/README.txt
venv1/share/doc/networkx-2.6.3/examples/algorithms/WormNet.v3.benchmark.txt
venv1/share/doc/networkx-2.6.3/examples/basic/plot_properties.py
venv1/share/doc/networkx-2.6.3/examples/basic/plot_read_write.py
venv1/share/doc/networkx-2.6.3/examples/basic/plot_simple_graph.py
venv1/share/doc/networkx-2.6.3/examples/basic/README.txt
venv1/share/doc/networkx-2.6.3/examples/drawing/chess_masters_WCC.pgn.bz2
venv1/share/doc/networkx-2.6.3/examples/drawing/knuth_miles.txt.gz
venv1/share/doc/networkx-2.6.3/examples/drawing/plot_chess_masters.py
venv1/share/doc/networkx-2.6.3/examples/drawing/plot_custom_node_icons.py
venv1/share/doc/networkx-2.6.3/examples/drawing/plot_degree.py
venv1/share/doc/networkx-2.6.3/examples/drawing/plot_directed.py
venv1/share/doc/networkx-2.6.3/examples/drawing/plot_edge_colormap.py
venv1/share/doc/networkx-2.6.3/examples/drawing/plot_ego_graph.py
venv1/share/doc/networkx-2.6.3/examples/drawing/plot_eigenvalues.py
venv1/share/doc/networkx-2.6.3/examples/drawing/plot_four_grids.py
venv1/share/doc/networkx-2.6.3/examples/drawing/plot_house_with_colors.py
venv1/share/doc/networkx-2.6.3/examples/drawing/plot_knuth_miles.py
venv1/share/doc/networkx-2.6.3/examples/drawing/plot_labels_and_colors.py
venv1/share/doc/networkx-2.6.3/examples/drawing/plot_multipartite_graph.py
venv1/share/doc/networkx-2.6.3/examples/drawing/plot_node_colormap.py
venv1/share/doc/networkx-2.6.3/examples/drawing/plot_rainbow_coloring.py
venv1/share/doc/networkx-2.6.3/examples/drawing/plot_random_geometric_graph.py
venv1/share/doc/networkx-2.6.3/examples/drawing/plot_sampson.py
venv1/share/doc/networkx-2.6.3/examples/drawing/plot_selfloops.py
venv1/share/doc/networkx-2.6.3/examples/drawing/plot_simple_path.py
venv1/share/doc/networkx-2.6.3/examples/drawing/plot_spectral_grid.py
venv1/share/doc/networkx-2.6.3/examples/drawing/plot_unix_email.py
venv1/share/doc/networkx-2.6.3/examples/drawing/plot_weighted_graph.py
venv1/share/doc/networkx-2.6.3/examples/drawing/README.txt
venv1/share/doc/networkx-2.6.3/examples/drawing/unix_email.mbox
venv1/share/doc/networkx-2.6.3/examples/graph/plot_degree_sequence.py
venv1/share/doc/networkx-2.6.3/examples/graph/plot_erdos_renyi.py
venv1/share/doc/networkx-2.6.3/examples/graph/plot_expected_degree_sequence.py
venv1/share/doc/networkx-2.6.3/examples/graph/plot_football.py
venv1/share/doc/networkx-2.6.3/examples/graph/plot_karate_club.py
venv1/share/doc/networkx-2.6.3/examples/graph/plot_napoleon_russian_campaign.py
venv1/share/doc/networkx-2.6.3/examples/graph/plot_roget.py
venv1/share/doc/networkx-2.6.3/examples/graph/plot_words.py
venv1/share/doc/networkx-2.6.3/examples/graph/README.txt
venv1/share/doc/networkx-2.6.3/examples/graph/roget_dat.txt.gz
venv1/share/doc/networkx-2.6.3/examples/graph/words_dat.txt.gz
venv1/share/doc/networkx-2.6.3/examples/README.txt
venv1/share/doc/networkx-2.6.3/examples/subclass/plot_antigraph.py
venv1/share/doc/networkx-2.6.3/examples/subclass/plot_printgraph.py
venv1/share/doc/networkx-2.6.3/examples/subclass/README.txt
venv1/share/doc/networkx-2.6.3/LICENSE.txt
src/KellyCriterion.py
